@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
    background-image: url('src/library/pokebg.webp');
    background-size: cover;
}

#pokeball {
    background-image: url('src/library/normal pokeball.png');
    background-size: cover;
}